@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.profile-page {
  padding-top: $safe-area-top;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 96px;
  @include center;

  &__role {
    color: red;
    font-size: var(--font-size-2xl);
  }
}
