@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.profile-page {
  padding-top: $safe-area-top;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 80vh;

  @include center;

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__username {
    font-size: var(--font-size-4xl);
    font-weight: 600;
  }

  &__role {
    border-radius: 6px;

    color: #ff6b6b;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 280px;
  }

  &__link,
  &__logout {
    width: 100%;
    padding: 12px 20px;

    border: 0;
    border-radius: 10px;

    font-size: var(--font-size-4xl);
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
  }

  &__logout {
    color: #888;
    background: transparent;
  }
}
