.header {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  max-width: 1440px;
  width: calc(100% - 20px);
  z-index: 999;
  white-space: nowrap;
  overflow: hidden;

  &__logo-text {
    font-size: 64px;
    text-shadow: 0 4px 10px #000;
  }

  &__search {
    flex: 1;
    position: relative;
    border: #fff 3px solid;
    border-radius: 30px;
    background: rgb(from #1e1e1e r g b / 40%);
    backdrop-filter: blur(10px);
  }

  &__search-placeholder {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 20px;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
  }

  &__search-input:focus ~ &__search-placeholder,
  &__search-input:not(:placeholder-shown) ~ &__search-placeholder {
    opacity: 0;
  }

  &__tabs {
    display: flex;
    gap: 20px;
    font-size: 64px;
    text-shadow: 0 4px 10px #000;
  }

  &__logo {
    height: 90px;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    gap: 0;
    &__tabs {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    &__logo-text {
      display: none;
    }
  }
}
