.reading-girl {
  height: 840px;
  width: 100%;
  opacity: 0.8;
  object-fit: cover;
  object-position: left center;
  z-index: -1;
  mask-image: linear-gradient(to left, black 0%, transparent 100%);
}

.main-photo {
  position: relative;
}

.emphasize {
  font-weight: bold;
}

.main {
  width: 1440px;
  margin: 0 auto;
  flex: 1;
  padding: 40px 0px;
}

.main-quote {
  position: absolute;
  font-size: 64px;
  top: 300px;
  left: 0px;
  text-align: left;
  z-index: 1;
  text-shadow: 0 4px 10px #000;
}

.main-quote-wrapper {
  width: 1440px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  z-index: 9;
  /* position: relative; */
}
