@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

.book-page-wrapper {
  max-width: 1440px;
  width: 100%;
  padding-top: calc(90px + 60px);
  padding-bottom: 60px;
  margin: 0 auto;

  &__bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    // filter: blur(50px);
    opacity: 0.03;
    object-fit: cover;
  }

  &__main {
    display: flex;
    gap: 80px;
    flex: 1;

    @media screen and (max-width: 1024px) {
      padding: 0 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__cover-blur {
    scale: 1.02;
    filter: blur(10px);
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 30px;
  }

  &__cover {
    border-radius: 30px;
  }

  &__cover-wrapper {
    position: relative;

    img {
      width: 500px;
      max-width: 100%;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    gap: 30px;
    // overflow: hidden;
  }

  &__title {
    font-size: 84px;
    text-align: center;
    font-family: 'Jaini', sans-serif;
    scale: 1;
    transition: scale 0.3s;

    position: sticky;
    top: 50px;

    &--stuck {
      scale: 0.5;
      text-shadow: $text-shadow-light;
    }
  }

  &__desc-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease;

    &--open {
      grid-template-rows: 1fr;
    }
  }

  &__desc {
    font-family: 'Inika', serif;
    font-size: 32px;
    overflow: hidden;
    min-height: fit-content;

    &--closed {
      mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 90%,
        transparent 100%
      );
    }
  }
}

.read_more {
  position: absolute;
  bottom: 0px;
  left: 50%;
  translate: -50% 100%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: $text-shadow-dark;
  opacity: 1;
  transition: opacity 0.3s;

  &__arrow {
    height: 30px;
    transition: rotate 0.3s;
    rotate: 0deg;
  }

  &--open {
    opacity: 0.5;
    .read_more__arrow {
      rotate: 180deg;
    }
  }

  span {
    font-family: 'Inika', serif;
  }
}

.profile-page {
  padding-top: $safe-area-top;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 96px;
  @include center;

  &__library {
    display: flex;
    flex-direction: column;
  }

  &__library-book {
    padding: 20px;
    font-size: 32px;
    display: flex;
    gap: 30px;
    border-bottom: #221a1a solid 1px;
    transition: background 0.3s;

    img {
      @include image;
    }

    &:hover {
      background: #00000033;
    }
  }

  &__library-book-cover {
    width: 100px;
  }
}

.not-found-page {
  padding-top: $safe-area-top;
  @include center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  min-height: 80vh;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.home-page-link {
  font-size: 96px;
  color: #893838;
}

.sentinel {
  height: 0;
}

@property --mask-end {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}

.mask {
  min-height: 200px;
  max-height: 400px;
  overflow: hidden;

  --mask-end: 0%;

  mask-image: linear-gradient(
    to bottom,
    black 0%,
    black var(--mask-end),
    transparent 100%
  );

  transition: --mask-end 0.9s ease;

  &--open {
    --mask-end: 100%;
    max-height: 600px;
  }
}
