.footer-wrapper {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(from #221a1a r g b / 40%),
    rgb(from #000000 r g b / 40%)
  );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-top: 1px solid #313131;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: calc(100% - 20px);
  gap: 20px;
}

.columns {
  display: flex;
  gap: 80px;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 0;
  }
}
