@use '@/styles/mixins' as *;

.footer-wrapper {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(from #221a1a r g b / 40%),
    rgb(from #000000 r g b / 40%)
  );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  border-top: 1px solid #313131;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  gap: 20px;
  @include center;

  &__content {
    display: flex;
    gap: 80px;
  }
}

.columns {
  display: flex;
  gap: 80px;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 0;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  height: fit-content;

  img {
    height: 75px;
    max-width: 75px;
    width: auto;
    min-width: 0;
  }

  span {
    font-size: var(--font-size-3xl);
    text-shadow: 0 4px 10px #000;
    min-width: 0;
  }
}

.copyright {
  align-self: flex-end;
}
