@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.new-book-page {
  padding-top: 90px;
  @include center;
  width: 768px;
  min-height: 80svh;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__button-section {
    display: flex;
    gap: 30px;
    button {
      font-weight: 500;
      flex: 1;
      border-radius: 20px;
      padding: 5px;
      background: brown;
    }
  }
}

.field {
  display: flex;

  button {
    flex-shrink: 0;
    height: fit-content;
  }
}
