@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.not-found-page {
  padding-top: $safe-area-top;
  @include center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  min-height: 80vh;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.home-page-link {
  font-size: 96px;
  color: #893838;
}
